<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
    <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.obeonetwork.dsl.is.ui.categoryID"
            class="fr.pacman.start.ui.GenerateStartWizard"
            helpHref="https://github.com/spi4j/spi4j"
            icon="icons/cali.png"
            id="fr.pacman.start.ui.wizard"
            name="Projet Cali"
            preferredPerspectives="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling"
            project="true">
         <description>
            Création d'un nouveau projet Cali
         </description>
      </wizard>
   </extension>
</plugin>
