<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension 
 			point="org.obeonetwork.dsl.environment.providedMetaDataDefinitionsModels">
 		<model
  			name="Metadata definitions for Pacman generators"
  			uri="platform:/plugin/fr.pacman.core.ui/resources/pacman.metadatadef">
 		</model>
	</extension>
</plugin>